@media screen and (max-width: 1000px)
    .header__title
        font-size: 6rem
    .section
        padding: 90px 0
        &__title
            &--mb-100
                margin-bottom: 75px
        &__box
            margin-top: 100px
    .footer
        padding-bottom: 50px

@media screen and (max-width: 920px)
    .header
        .nav
            &__socials
                display: none
                flex: 1 1 120px
    .nav
        &__socials
            flex: 0 1 200px

            